<%= render 'logo' %>

<ul class="nav nav-pills nav-justified">
  <li ><a  href="/findCommittee?id=<%=@id%>&name=<%=@name%>"> commitees your congressman belongs to</a></li>
  <li > <a  href="/findBills?id=<%=@id%>&name=<%=@name%>">bills they have sponsored</a></li>
  <li class = "active"><a href="/displaysearchbill?id=<%=@id%>&name=<%=@name%>">search bills by tags</a></li>
  <li><a href="/findcontribution?id=<%=@id%>&name=<%=@name%>">campaign contributors</a></li>
  <li > <a  href="/findnumBills?id=<%=@id%>&name=<%=@name%>">Hardest Working Congressman</a></li>
  <li> <a href="/displayfeed?id=<%=@id%>&name=<%=@name%>">json Feeds</a></li>

</ul>
<div class="tab-content-search-bill" align="center">
  <div id="searchbill" class="tab-pane fade in active">
    <form name=zip action="/searchBill?id=<%=@id%>&name=<%=@name%>" method="GET">
      Enter a tag(s):
      <input type="text" name="searchbill">
      <input type="hidden" name="name" value="<%=@name%>">
      <input type="hidden"  name="id" value="<%=@id%>">
      &nbsp;&nbsp;<input type="submit" value="submit" size=""30>
    </form>
    <table class= "table-content" cellpadding="10px">
      <%unless @taggedbill.nil?%>
        <tr><td>Description:<%=@taggedbill.bill_desc%></td></tr>
        <tr><td>Date Bill Introduced: <%=@taggedbill.date_introduced%></td></tr>
        <tr><td>Date Issued: <%=@taggedbill.date_issued%></td></tr>
        <tr><td>Chamber: <%=@taggedbill.chamber%></td></tr>
      <%end%>
     </table>
   </div>
</div>